@model WebChurchManagement.Models.Departamento

@{
    ViewBag.Title = "Editar Departamento";
}

@using (Html.BeginForm("Editar", "Departamentos", new { id = Model.Id_Deptos }, FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Id_Deptos)

    <div class="form-horizontal">

        <div class="form-group">
            @if (ViewBag.Principal == 0 || Model.Principal)
            {
                @Html.LabelFor(model => model.Principal, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.Principal, new { @checked = "false" })
                        @Html.ValidationMessageFor(model => model.Principal, "", new { @class = "text-danger" })
                    </div>
                </div>
            }
            @Html.LabelFor(model => model.Ativo, htmlAttributes: new { @class = "control-label col-md-2", @id = "labelAtivo" })
            <div id="posicaoAtivoChk" class="col-md-10">
                <div class="checkbox">
                    @Html.CheckBoxFor(model => model.Ativo)
                    @Html.ValidationMessageFor(model => model.Ativo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nm_Deptos, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nm_Deptos, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nm_Deptos, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Id_Membros, "Líder", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Id_Membros", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Id_Membros, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volta à lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}