@model WebChurchManagement.Models.Membro

@{
    ViewBag.Title = "Inserir Membro";
}


@using (Html.BeginForm("Inserir", "Membros", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">Básico</a></li>
            <li><a data-toggle="tab" href="#menu1">Contato</a></li>
            <li><a data-toggle="tab" href="#menu2">Endereço</a></li>
            <li><a data-toggle="tab" href="#menu3">Observações</a></li>
        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <h3>Básico</h3>
                <hr />
                <div class="bs-form-group-inline">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Foto, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input id="file" type="file" />
                            @Html.ValidationMessageFor(model => model.Foto, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Id_Cargo, "Cargo", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("Id_Cargo", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Id_Cargo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Id_Status, "Status", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("Id_Status", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Id_Status, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Mae, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Mae, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Mae, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Pai, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Pai, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Pai, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Sexo, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            Masculino
                            @Html.RadioButtonFor(model => model.Sexo, WebChurchManagement.Models.EnumSexo.M)
                            Feminino
                            @Html.RadioButtonFor(model => model.Sexo, WebChurchManagement.Models.EnumSexo.F)
                            @Html.ValidationMessageFor(model => model.Sexo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Matricula, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.Editor("Matricula", new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Matricula, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Dt_Nasc, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Dt_Nasc, new { htmlAttributes = new { @class = "dateTimePicker", @readonly = "readonly" } })
                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Dt_Desde, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Dt_Desde, new { htmlAttributes = new { @class = "dateTimePicker", @readonly = "readonly" } })
                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Ativo, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(model => model.Ativo, new { @checked = "true" })
                                @Html.ValidationMessageFor(model => model.Ativo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="menu1" class="tab-pane fade">
                <h3>Contatos</h3>
                <hr />
                <div class="form-group">
                    @Html.LabelFor(model => model.Tel1, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Tel1, new { htmlAttributes = new { @class = "form-control mascaraTelefone" } })
                        @Html.ValidationMessageFor(model => model.Tel1, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Tel2, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Tel2, new { htmlAttributes = new { @class = "form-control mascaraTelefone" } })
                        @Html.ValidationMessageFor(model => model.Tel2, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Tel3, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Tel3, new { htmlAttributes = new { @class = "form-control mascaraTelefone" } })
                        @Html.ValidationMessageFor(model => model.Tel3, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div id="menu2" class="tab-pane fade">
                <h3>Endereço</h3>
                <hr />
                <div class="form-group">
                    @Html.LabelFor(model => model.Cep, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Cep, new { htmlAttributes = new { @class = "form-control mascaraCep", @onblur = "buscaEnderecoCep()" } })
                        @Html.ValidationMessageFor(model => model.Cep, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Rua, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Rua, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Rua, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Bairro, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Bairro, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Bairro, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Cidade, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Cidade, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Cidade, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Uf, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.Uf, null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Uf, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.N_Casa, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.N_Casa, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.N_Casa, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div id="menu3" class="tab-pane fade">
                <h3>Observações</h3>
                <hr />
                <div class="form-group">
                    <div class="col-md-10">
                        <textarea name="Obs" id="Obs" class="form-control" rows="8"></textarea>
                        @Html.ValidationMessageFor(model => model.Obs, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-success" />
            </div>
        </div>

    </div>
}

<div>
    @Html.ActionLink("Voltar à lista", "Index")
</div>

@section Scripts {
    @Styles.Render("~/Content/Shared/DateTimePicker/bootstrap-datepicker3.min.css")
    @Styles.Render("~/Content/Shared/DateTimePicker/bootstrap-datepicker3.standalone.min.css")
    @Styles.Render("~/Content/Membros/membrosCreateEdit.css")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/Membros/buscaEnderecoCep.js")
    @Scripts.Render("~/Scripts/Shared/DateTimePicker/bootstrap-datepicker.min.js")
    @Scripts.Render("~/Scripts/Shared/DateTimePicker/dateTimePicker.js")
    @Scripts.Render("~/Scripts/Shared/DateTimePicker/locales/bootstrap-datepicker.pt-BR.min.js")
    @Scripts.Render("~/Scripts/jquery.mask.min.js")
    @Scripts.Render("~/Scripts/mascaras.js")
    @Scripts.Render("~/Scripts/Membros/jQuery.MultiFile.min.js")
    @Scripts.Render("~/Scripts/Membros/uploadFileMembros.js")
}
