@model IEnumerable<WebChurchManagement.Models.Agenda>

@{
    ViewBag.Title = "Agendas";
}
<p>
    @Html.ActionLink("Nova Agenda", "Inserir")
</p>

<table id="superTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id_Agenda)</th>
            <th>@Html.DisplayNameFor(model => model.Departamentos.Nm_Deptos)</th>
            <th>@Html.DisplayNameFor(model => model.Dt_Agenda)</th>
            <th>@Html.DisplayNameFor(model => model.Evento)</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id_Agenda)</th>
            <th>@Html.DisplayNameFor(model => model.Departamentos.Nm_Deptos)</th>
            <th>@Html.DisplayNameFor(model => model.Dt_Agenda)</th>
            <th>@Html.DisplayNameFor(model => model.Evento)</th>
            <th>Ação</th>
        </tr>
    </tfoot>
    <tbody>
        @foreach (var item in Model)
            {

            <tr>
                <td>@Html.DisplayFor(model => item.Id_Agenda)</td>
                <td>@Html.DisplayFor(model => item.Departamentos.Nm_Deptos)</td>
                <td>@Html.DisplayFor(model => item.Dt_Agenda)</td>
                <td>@Html.DisplayFor(model => item.Evento)</td>
                <td>
                    @Html.ActionLink(" ", "Editar", new { id = item.Id_Agenda }, new { @class = "glyphicon glyphicon-edit", @title = "Editar" }) |
                    @Html.ActionLink(" ", "Detalhes", new { id = item.Id_Agenda }, new { @class = "glyphicon glyphicon-list", @title = "Detalhes" }) |
                    @Html.ActionLink(" ", "Deletar", new { id = item.Id_Agenda }, new { @class = "glyphicon glyphicon-trash", @title = "Deletar" })
                </td>
            </tr>
        }
    </tbody>

</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/Shared/DataTable/dataTables.bootstrap.min.css")
    @Scripts.Render("~/Scripts/Shared/DataTable/jquery-1.12.4.js")
    @Scripts.Render("~/Scripts/Shared/DataTable/jquery.dataTables.min.js")
    @Scripts.Render("~/Scripts/Shared/DataTable/dataTables.bootstrap.min.js")
    @Scripts.Render("~/Scripts/Shared/DataTable/superTable.js")
}
