@model WebChurchManagement.Models.Disciplina

@{
    ViewBag.Title = "Deletar Disciplina";
}

<h3>Você tem certeza que deseja deletar esse registro?</h3>
<div>
    <dl class="dl-horizontal">

        <dt>@Html.DisplayNameFor(model => model.Id_Disc)</dt>
        <dd>@Html.DisplayFor(model => model.Id_Disc)</dd>

        <dt>@Html.DisplayNameFor(model => model.Membros.Nome)</dt>
        <dd>@Html.DisplayFor(model => model.Membros.Nome)</dd>

        <dt>@Html.DisplayNameFor(model => model.Dt_Ini)</dt>
        <dd>@Html.DisplayFor(model => model.Dt_Ini)</dd>

        <dt>@Html.DisplayNameFor(model => model.Dt_Fim)</dt>
        <dd>@Html.DisplayFor(model => model.Dt_Fim)</dd>

        <dt>@Html.DisplayNameFor(model => model.Motivo)</dt>
        <dd>@Html.DisplayFor(model => model.Motivo)</dd>

    </dl>

    @using (Html.BeginForm("Deletar", "Disciplinas", new { id = Model.Id_Disc }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-danger" /> |
            @Html.ActionLink("Voltar à lista", "Index")
        </div>
    }
</div>